* {
  box-sizing: border-box;
}

html {
  background-color: #333;
  color: #eee;
  font-family: monospace;
}

body {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: skyblue;
}

footer {
  padding: 60px 0 24px;
  text-align: center;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid white;
}

.td-message {
  text-align: center;
}