* {
  box-sizing: border-box;
}

html {
  background-color: #333;
  color: #eee;
  font-family: monospace;
}

body {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: skyblue;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid white;
}